$txt-gray: #1f1f1f;
$txt-gray-light: #737373;

$highlight-teal: #00c1aa;
$bg-white: #ffffff;
$bg-zerox-gray: #b3a4a8;

$off-white: #fffde8;
$page-white: #f2f1ed;
$dark-navy-blue: #000217;
$turquoise: #01c2ab;
$sea: #399882;
$brownish-grey: #737373;

$bright-magenta: #ff00ff;
$greenish-cyan: #39ff9c;
$strong-pink: #e51f87;
$primary-blue: #0000ff;
$black-30: rgba(0, 0, 0, 0.3);
$pale: #fffbce;

#contact {
  color: $txt-gray;
  padding: 3em;
}

nav {
  &:hover {
    cursor: pointer;
    background: $off-white;
  }
}

body,
nav,
.text-box {
  background: $page-white;
}

.teal-overlay {
  // background-color: #488c82;
  mix-blend-mode: hue;
  background-color: $pale;
}

.focus {
  .teal-overlay {
    transition: 2s;
    transition-delay: 1s;
    background: transparent;
  }
}

.project-preview {
  color: $dark-navy-blue;
  .time-stamp {
    color: $primary-blue;
  }
}

#about,
.coming-soon {
  .overlay {
    color: $brownish-grey;
  }
}
.coming-soon,
.keep-reading {
  color: $off-white;
}
