$txt-gray: #1f1f1f;
$txt-gray-light: #737373;

$highlight-teal: #00c1aa;
$bg-white: #ffffff;
$bg-zerox-gray: #b3a4a8;

$off-white: #fffde8;
$dark-navy-blue: #000217;
$turquoise: #01c2ab;
$sea: #399882;
$brownish-grey: #737373;

.home-body {
  background-image: linear-gradient(
    to right,
    $bg-white,
    $bg-zerox-gray 25%,
    $bg-white 65%
  );
}

#contact {
  color: $txt-gray;
  padding: 3em;
}

#about.scroll .content,
nav,
footer {
  &:hover {
    background: $off-white;
  }
}

.bg-off-white {
  background: $off-white;
}

.teal-overlay {
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  &:hover {
    background-color: #488c82;
  }
}

.text-box {
  background: $bg-white;
}
.project-preview {
  color: $txt-gray;
  .time-stamp {
    color: $txt-gray-light;
  }
}
