.hide {
  display: none;
}
.show {
  display: block;
}

.measure-wide {
  max-width: 43em;
}

.teal-overlay:hover {
  cursor: crosshair;
}

.__react_component_tooltip {
  border-radius: 0;
  &:before,
  &:after {
    display: none;
  }
}

.project-preview {
  .__react_component_tooltip {
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $off-white !important;
    background: none !important;
    border-bottom: 1px solid red;
    font-style: italic;
  }
}

.fixed.top-0 {
  top: 60px;
}

.clipped-shadow {
  box-shadow: 0 2px 4px 0.3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.main {
  &.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
}
