.side-bar {
  height: 100%;
  position: fixed;
  top: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 26vh;
  padding: 4em 0;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
.about-wrapper {
  overflow: hidden;
}

.tag-panel {
  vertical-align: top;
  height: 100vh;
  padding: 2em 0.5em;
  top: 0;
  a {
    display: block;
    width: fit-content;
    color: $txt-gray;

    &:hover {
      font-weight: bold;
      border: 1px solid lightgray;
    }
  }
}
.project-section {
  margin-top: 8rem;
}
.project-preview {
  color: $txt-gray;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  .image-wrapper,
  .text-box {
    position: relative;
    &:hover {
      z-index: 5;
    }
  }

  .text-box {
    z-index: 3;
    height: 427px;
    overflow: hidden;
    top: -88px;
    p {
      padding: 20px 0;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
      height: 80%;
    }
    &.odd {
      left: 60px;
    }
  }
}

#project-section {
  margin-top: 10em;
  padding-bottom: 20em;
}

.close {
  width: 100%;
  text-align: center;
  cursor: grabbing;
}

.pointer {
  cursor: pointer;
}

nav,
footer {
  span {
    margin: 12px;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
