.side-bar {
  height: calc(100vh - 100px);
  position: fixed;
  top: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 27vh;
  padding: 1em;
  z-index: 50;
  mix-blend-mode: difference;
  display: none;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
.about-wrapper {
  overflow: hidden;
}
.tag-wrapper {
  margin-top: 1.25rem;
}
.tag-panel {
  vertical-align: top;
  height: 100vh;
  padding: 2em 0.5em;
  top: 0;
  display: none;
  a {
    display: block;
    width: fit-content;
    color: $txt-gray;

    &:hover {
      font-weight: bold;
      border: 1px solid lightgray;
    }
  }
}

.project-preview {
  position: relative;
  color: $txt-gray;
  .image-wrapper,
  .text-box-wrapper {
    position: relative;
  }
  .image-wrapper {
    figure {
      margin: 0;
      img {
        object-fit: contain;
      }
    }
    figcaption {
      margin-top: 1rem;
      text-align: left;
      opacity: 0;
      transition: opacity 1s ease-in-out 1s;
      img {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .text-box {
    z-index: 8;
    overflow: hidden;
    border: 1px solid $dark-navy-blue;
    border-radius: 5px;
    padding: 1.575rem;
    hr {
      border: solid 0.5px $dark-navy-blue;
    }
  }
}
.time-stamp {
  margin-bottom: 0.8rem;
}

.image-wrapper:hover {
  .teal-overlay {
    animation-fill-mode: forwards;
    animation: receedToBack 1s ease-in;
    background: transparent;
  }
}
.teal-overlay {
  top: 0;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes receedToBack {
  from {
    z-index: 5;
    background-color: $pale;
  }
  to {
    z-index: 0;
    background: transparent;
  }
}

#page-body {
  display: flex;
}
#project-section {
  padding-bottom: 39px;
}

.close {
  text-align: center;
  cursor: grabbing;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  margin-bottom: 1em;
}

.pointer {
  cursor: pointer;
}

nav,
footer {
  span {
    padding: 13px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.title {
  margin: 0 auto;
  text-align: center;
  height: 30px;
}
.footnotes {
  p {
    margin: 5px;
  }
}
