.side-bar {
  height: 100%;
  position: fixed;
  top: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 26vh;
  padding: 4em 1em;
  z-index: 10;
  mix-blend-mode: difference;
  display: none;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
.about-wrapper {
  overflow: hidden;
}

.tag-panel {
  vertical-align: top;
  height: 100vh;
  padding: 2em 0.5em;
  top: 0;
  display: none;
  a {
    display: block;
    width: fit-content;
    color: $txt-gray;

    &:hover {
      font-weight: bold;
      border: 1px solid lightgray;
    }
  }
}

.project-preview {
  color: $txt-gray;
  overflow: hidden;
  .image-wrapper,
  .text-box-wrapper {
    position: relative;
  }
  .text-box {
    max-width: 100%;
    width: 400px;
    z-index: 8;
    overflow: hidden;
    border: 1px solid $dark-navy-blue;
    border-radius: 5px;
    padding: 1.875rem;
    hr {
      border: solid 0.75px $dark-navy-blue;
    }
    p.project-description {
      margin-bottom: 2.5rem;
    }
  }
}
.time-stamp {
  margin-bottom: 1.25rem;
}
.project-description {
  display: none;
  margin: 0;
}
.teal-overlay {
  top: 0;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  &:hover {
    animation-fill-mode: forwards;
    animation: receedToBack 1s ease-in;
    background: transparent;
  }
}

@keyframes receedToBack {
  from {
    z-index: 5;
    background-color: $pale;
  }
  to {
    z-index: 0;
    background: transparent;
  }
}

#page-body {
  display: flex;
  padding-top: 2em;
}
#project-section {
  padding-bottom: 5em;
}

.close {
  text-align: center;
  cursor: grabbing;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  margin-bottom: 1em;
}

.pointer {
  cursor: pointer;
}

nav,
footer {
  span {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.title {
  margin: 0 auto;
  text-align: center;
  height: 30px;
}
.footnotes {
  p {
    margin: 5px;
  }
}
