@media (min-width: 768px) {
  .side-bar {
    display: block;
  }
  .tag-panel {
    display: block;
    padding-left: 4em;
  }
  .project-preview {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
    margin: 6.5rem auto;
  }
  .project-description {
    display: block;
  }
  .text-box {
    min-width: 300px;
    position: absolute;
    box-shadow: 2px 2px 4px grey;
    margin: 1rem;
    p {
      display: block;
    }
    &.even {
      left: -5em;
    }
    &.odd {
      right: -5em;
    }
  }

  .mobile {
    display: none;
  }

  #about {
    &.open,
    &.scroll {
      .content {
        padding: 1rem 6rem;
      }
    }
  }

  #project-section {
    padding-bottom: 20em;
  }
  #collapse {
    display: block;
  }
  #back {
    display: none;
  }

  .show-prev {
    .slick-next {
      display: none !important;
    }
  }
  .show-next {
    .slick-prev {
      display: none !important;
    }
  }
  .slick-prev {
    left: -68px;
  }
  .slick-next {
    right: -40px;
  }

  .slick-prev,
  .slick-next {
    height: 326px;
    transform: scale(1) translate(0, -50%);
  }
  footer {
    &.showContact {
      transition: 1s;
      height: 300px;
    }
  }
}

@media (min-width: 768px) {
  #about.scroll {
    .content {
      height: 12rem;
    }
  }
}
// laptop
@media (min-width: 1024px) {
  #about.scroll {
    .content {
      height: 26.5rem;
    }
  }
  #about.open {
    height: 100vh;
  }
}

// Large - laptop
@media (min-width: 1440px) {
  #about.open {
    height: 85vh;
  }

  @keyframes dropHeight {
    from {
      height: 30rem;
    }
    to {
      height: 85vh;
    }
  }
}

// 4k screen
@media (min-width: 2560px) {
}

@media (max-width: 768px) {
  #about.open {
    height: 100vh;
  }
  #collapse {
    display: none;
  }
  #back,
  #hold {
    display: block;
  }
  #back {
    height: 3rem;
    width: 3rem;
    top: 1.5rem;
    left: 1.5rem;
  }
  #about {
    &.open,
    &.scroll {
      .content {
        margin-top: 55px;
      }
    }
  }
  #about.scroll .content .text-box-wrapper {
    top: -20px;
    z-index: 8;
  }
  .project-preview {
    .text-box {
      position: relative;
    }
  }
  .address {
    margin-top: 5rem;
  }
}
