@media (min-width: 768px) {
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    line-height: 0;
  }
  .side-bar {
    display: block;
  }
  .tag-panel {
    display: block;
    padding-left: 4em;
  }

  .text-box {
    width: 320px;
    position: absolute;
    box-shadow: 2px 2px 4px grey;
    margin: 1rem;
    p {
      display: block;
    }
  }

  .mobile {
    display: none;
  }

  #about {
    &.open,
    &.scroll {
      .content {
        padding: 1rem 6rem;
      }
    }
  }

  #collapse {
    display: block;
  }
  #back {
    display: none;
  }
  footer {
    &.showContact {
      transition: 1s;
      height: 300px;
    }
  }
  #contact {
    margin: 2.5rem 5rem;
  }
}

// laptop
@media (min-width: 1025px) {
  .measure-wide {
    max-width: 75vw;
  }
  #project-section {
    margin: 0 2.2rem;
  }
  .project-preview:first-of-type {
    margin-top: 6.5rem;
  }
  .project-preview {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
    margin-bottom: 6.5rem;
  }

  #about.scroll {
    .content {
      height: 26.5rem;
    }
  }
  #about.open {
    height: 100vh;
  }
}

// Large - laptop
@media (min-width: 1440px) {
  #about.open {
    height: 85vh;
  }

  @keyframes dropHeight {
    from {
      height: 30rem;
    }
    to {
      height: 85vh;
    }
  }
}

// 4k screen
@media (min-width: 2560px) {
  .measure-wide {
    max-width: 1185px;
  }
}

@media (max-width: 768px) {
  p.project-description.expand {
    margin-bottom: 1.2rem;
  }

  .text-box {
    max-width: 100%;
  }
  #about.open {
    height: 100vh;
  }
  #collapse {
    display: none;
  }
  #back,
  #hold {
    display: block;
  }
  #back {
    height: 3rem;
    width: 3rem;
    top: 1.5rem;
    left: 1.5rem;
  }
  #about {
    &.open,
    &.scroll {
      .content {
        margin-top: 55px;
        padding-bottom: 8rem;
      }
    }
  }
  #about.scroll .content .text-box-wrapper {
    top: -20px;
    z-index: 8;
  }
  .project-preview {
    .text-box {
      position: relative;
    }
  }
  .project-description,
  .project-tag-wrapper {
    transition: opacity 1s linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  .project-tag-wrapper {
    margin: 0;
  }

  .expand {
    opacity: 1;
    height: auto;
  }
}
