nav,
footer {
  background: #fff;
  text-align: center;
  z-index: 10;
  position: fixed;
  left: 0;
  cursor: pointer;
  height: 60px;
  &.showContact {
    transition: 0.5s;
    height: 300px;
    background: $off-white;
  }
  span {
    margin: 12px;
  }
}

nav {
  top: 0;
}

footer {
  bottom: 0;
  text-align: center;
  width: 100%;
}

#about {
  .content {
    display: none;
  }
}
#about {
  &.open,
  &.scroll {
    .content {
      padding: 30px;
      display: block;
    }
  }
}
#about.open {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 95vh;
  background: #fff;
  .content {
    overflow-y: scroll;
    max-height: 95vh;
    animation: revealText 2s;
    position: inherit;
  }
  margin-bottom: auto;
}

#about.scroll {
  position: relative;
  height: 181px;
  overflow: hidden;
  animation-fill-mode: forwards;
  margin-bottom: 10em;
}
@keyframes revealText {
  from {
    height: 181px;
  }
  to {
    height: 100%;
  }
}
.overlay {
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  padding-top: 7%;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

@keyframes floatText {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(-100%);
  }
}

.coming-soon {
  .overlay {
    margin-top: 8em;
  }
}
