nav {
  z-index: 10;
  position: fixed;
  left: 0;
  cursor: pointer;
  height: 55px;
  span {
    margin: 12px;
  }
}

nav {
  top: 0;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

footer {
  width: 100%;
  height: 50vh;
  background: $pale;
  position: absolute;
}
#openAbout {
  bottom: 1rem;
  right: 2rem;
  cursor: pointer;
}
#about {
  .content {
    display: none;
  }
}
#about {
  &.open,
  &.scroll {
    .content {
      display: block;
      padding: 30px;
    }
  }
}
#about.open {
  width: 100%;
  position: fixed;
  z-index: 20;
  height: 100vh;
  background: $page-white;
  .content {
    animation: revealText 2s;
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }
  margin-bottom: auto;
}

#about.scroll {
  position: relative;
  animation-fill-mode: forwards;
  height: 30rem;

  .content {
    height: 16rem;
    overflow: hidden;
    margin-bottom: 10em;
  }
}
@keyframes revealText {
  from {
    height: 20rem;
  }
  to {
    height: 100%;
  }
}
.overlay {
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  padding-top: 7%;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

.blur {
  pointer-events: none;

  filter: blur(5px);
  -webkit-filter: blur(5px);
}

@keyframes floatText {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(-100%);
  }
}

.coming-soon {
  .overlay {
    margin-top: 8em;
  }
}
