nav,
footer {
  background: #fff;
  text-align: center;
  z-index: 10;
  position: fixed;
  left: 0;
  cursor: pointer;
  height: 60px;
  span {
    margin: 12px;
  }
}

nav {
  top: 0;
}

footer {
  bottom: 0;
  text-align: center;
  width: 100%;
}

#about {
  .content {
    display: none;
  }
}
#about {
  &.open,
  &.scroll {
    .content {
      padding: 30px;
      display: block;
    }
  }
}
#about.open {
  width: 100%;
  position: fixed;
  z-index: 10;
  .content {
    overflow-y: scroll;
    max-height: 95vh;
  }
}

#about,
#contact {
  .content {
    width: max-content;
  }
}
#contact {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 35%;
}

#about.scroll {
  height: 181px;
  overflow: hidden;
  .content {
    animation: floatText 15s infinite linear;
    &:hover {
      animation-play-state: paused;
    }
  }
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

@keyframes floatText {
  to {
    transform: translateY(-100%);
  }
}
