.slick-next {
  right: 7%;
}
.slick-prev {
  left: 7%;
}

.slick-next,
.slick-prev {
  height: 130px !important;
}
.slick-prev,
.slick-next {
  transform: scale(0.5) translate(0, -100%);
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
}
.slick-slider,
.slick-track {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  line-height: 0;
}
.slick-list {
  text-align: center;
}

.image-wrapper {
  img {
    max-width: 100%;
  }
  .slick-slide {
    opacity: 0;
    transition: opacity 1s linear;
    &.slick-active,
    .slick-current {
      opacity: 1;
      figcaption {
        opacity: 1;
      }
    }
  }
}
// Desktop
@media (min-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 54px;
    transform: scale(1) translate(0, -50%);
  }
  .slick-prev:before {
    content: url('../public/icons/prev.svg') !important;
  }
  .slick-next:before {
    content: url('../public/icons/next.svg') !important;
  }
  .show-prev {
    .slick-slider {
      margin-left: 5rem;
    }
    .slick-next {
      display: none !important;
    }
  }
  .slick-prev {
    left: -68px !important;
  }
  .slick-next {
    right: -68px !important;
  }
  .show-next {
    .slick-slider {
      margin-right: 5rem;
    }
    .slick-prev {
      display: none !important;
    }
  }
  .image-wrapper img {
    max-width: 80%;
  }
  .show-next img {
    margin-left: 20%;
  }
}

// mobile
@media (max-width: 768px) {
  .slick-next:before {
    display: none;
  }
  .expanded {
    .slick-next:before {
      display: block;
      content: url('../public/icons/mobile.svg') !important;
    }
  }
}
@media (max-width: 1024px) {
  figcaption {
    display: none;
  }
}
@media (min-width: 1025px) {
  figcaption {
    display: block;
  }
  .teal-overlay {
    height: calc(100% - 38px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slick-prev,
  .slick-next {
    z-index: 10;
  }
  .slick-prev {
    left: 1rem !important;
  }
  .slick-prev:before {
    display: block;
    content: url('../public/icons/mobile-prev.svg') !important;
  }
  .slick-next {
    right: 1rem !important;
  }
  .slick-next:before {
    display: block;
    content: url('../public/icons/mobile.svg') !important;
  }

  .image-wrapper {
    width: 100%;
  }
  .project-preview {
    position: relative;
    margin: 10.5rem auto;
  }
  .text-box-wrapper {
    width: 40%;
    position: absolute !important;
    top: 30%;
    &.even {
      right: 2rem;
    }
    &.odd {
      left: 2rem;
    }
  }
}
