.awssld {
  --organic-arrow-thickness: 1px !important;
  --organic-arrow-height: 5rem !important;
  --organic-arrow-color: #ffffff !important;
  --loader-bar-color: $off-white !important;
  --loader-bar-height: 2px !important;
}

.awssld__controls__arrow-left:before,
.awssld__controls__arrow-right:after {
  transform: rotate(30deg) !important;
}

.awssld__controls__arrow-left:after,
.awssld__controls__arrow-right:before {
  transform: rotate(-30deg) !important;
}

.awssld__content {
  img,
  video {
    top: 50% !important;
  }
}

.slick-prev {
  left: 7%;
}
.slick-next {
  right: 4%;
}

.slick-prev,
.slick-next {
  height: 163px;
  transform: scale(0.5) translate(0, -100%);
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
}
.slick-slider,
.slick-track,
.slick-slide {
  height: 100%;
}
.slick-list {
  text-align: center;
}
.slick-prev:before {
  content: url('../public/icons/prev.svg');
}
.slick-next:before {
  content: url('../public/icons/next.svg');
}
