.slick-prev {
  left: 7%;
}
.slick-next {
  right: 4%;
}

.slick-prev,
.slick-next {
  height: 163px;
  transform: scale(0.5) translate(0, -100%);
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
}
.slick-slider,
.slick-track {
  height: 100%;
}
.slick-list {
  text-align: center;
}
.slick-prev:before {
  content: url('../public/icons/prev.svg') !important;
}
.slick-next:before {
  content: url('../public/icons/next.svg') !important;
}

.image-wrapper {
  .slick-slide {
    opacity: 0;
    transition: opacity 1s linear;
    &.slick-active,
    .slick-current {
      opacity: 1;
    }
  }
}
