.product {
  background: $off-white;
  &:hover {
    background: $greenish-cyan;
  }
}
//in black

.client {
  // in pink
  text-decoration: underline wavy blue;

  &:hover {
    background: $bright-magenta;
    color: blue;
    text-decoration: none;
  }
}

.action {
  border: 1px solid $page-white;
  // green
  &:hover {
    border: 1px solid $greenish-cyan;
  }
}

.goal {
  // purple
  text-decoration: underline double $bright-magenta;
  &:hover {
    background: black;
    color: pink;
  }
}
