.superscript {
  position: relative;
  top: -12px;
  padding: 3px;
  background: $pale;
  margin: 0 0.2rem 0 0.1rem;
  cursor: pointer;
  color: $dark-navy-blue;
}

.annotations {
  pointer-events: auto !important;
  width: 21.25rem;
  max-width: 80%;
  &.wide {
    width: 50rem;
  }
  background: $pale;
  opacity: 1 !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.__react_component_tooltip.type-light {
  background: $pale !important;
}
.expand-arrow {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  &:hover {
    background: $pale;
  }
}
