.superscript {
  position: relative;
  top: -12px;
  padding: 3px;
  color: $highlight-teal;
  background: $off-white;

  // border: $highlight-teal 1px solid;
  margin: 0 0.2rem 0 0.1rem;
  cursor: pointer;
}

.annotations {
  pointer-events: auto !important;
  width: 340px;
  &.wide {
    width: 800px;
  }
  cursor: crosshair;
  background: $off-white;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.expand-arrow {
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
  &:hover {
    background: $off-white;
  }
}
