.superscript {
  position: relative;
  top: -12px;
  padding: 3px;
  background: $off-white;
  margin: 0 0.2rem 0 0.1rem;
  cursor: pointer;
  color: $brownish-grey;
}

.annotations {
  pointer-events: auto !important;
  width: 21.25rem;
  max-width: 80%;
  &.wide {
    width: 50rem;
  }
  cursor: crosshair;
  background: $off-white;
  opacity: 1 !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.__react_component_tooltip.type-light {
  background: $off-white !important;
}
.expand-arrow {
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
  &:hover {
    background: $off-white;
  }
}
