body {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
}

b,
strong {
  font-family: 'AtlasGrotesk-Bold', sans-serif;
}

.project-title {
  font-weight: normal;
  line-height: 1.13;
  letter-spacing: 0.04px;
  font-size: 26px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .project-title {
    font-size: 30px;
    margin-bottom: 4rem;
  }
}
.address {
  margin-top: 1rem;
}
.address,
.project-description {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.03px;
}

.Atlas_Mono {
  font-family: 'AtlasTypewriter-Light';
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.5px;
  color: #1f1f1f;
}

#about,
#contact {
  font-size: 18px;
  line-height: 1.64;
  letter-spacing: 0;
  color: $txt-gray;
  font-family: 'AtlasTypewriter-Light';
}

.side-bar {
  font-family: 'AtlasGrotesk-Bold', sans-serif;
  font-size: 11px;
  letter-spacing: 0.07px;
  color: $dark-navy-blue;
}

.footnotes,
.annotations,
.tag-item,
.close {
  font-family: 'AtlasTypewriter-light', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.5px;
}
.project-tags {
  font-family: 'AtlasTypewriter-light', sans-serif;
  font-size: 11px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  display: inline-block;
}
.caption,
.time-stamp {
  font-family: 'AtlasTypewriter-light', sans-serif;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 2;
}

.superscript,
.label {
  font-family: 'AtlasGrotesk-Bold', sans-serif;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: $dark-navy-blue;
}
