body {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
}

.LargeBody_Atlas {
  // headers, titles
  font-family: AtlasGrotesk;
  font-size: 23px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.04px;
  color: #1f1f1f;
}

.Body_Atlas {
  // project text
  font-family: Swiss721BT-Roman;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03px;
  color: #1f1f1f;
}

.H1Bold {
  font-family: AtlasGrotesk;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.07px;
  color: var(--brownish-grey);
}

.project-title {
  font-weight: normal;
  font-size: 40px;
  line-height: 1.13;
  letter-spacing: 0.04px;
}

.project-description {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03px;
}

.Atlas_Mono {
  font-family: 'AtlasTypewriter-Light';
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.5px;
  color: #1f1f1f;
}

#about {
  font-size: 23px;
  line-height: 1.74;
  letter-spacing: 0.04px;
  color: $txt-gray;
  font-family: 'AtlasTypewriter-Light';
}

.side-bar {
  height: 18px;
  font-family: 'AtlasGrotesk-Bold', sans-serif;
  font-size: 15px;
  letter-spacing: 0.07px;
  color: $txt-gray-light;
}

.footnotes,
.annotations,
.tag-item,
.superscript,
.close {
  font-family: 'AtlasTypewriter-light', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.5px;
}
.project-tags {
  font-size: 15px;
  margin-right: 0.3rem;
  display: inline-block;
}

.project-preview,
.project-page {
  .time-stamp {
    font-family: 'AtlasTypewriter-light', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 2;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03px;
  }
}

.label {
  font-family: 'AtlasGrotesk-Bold', sans-serif;
  font-size: 13px;
  letter-spacing: 0.06px;
  color: $brownish-grey;
}

#contact {
  font-family: 'AtlasGrotesk-Regular', sans-serif;
  font-size: 17px;
  line-height: 1.6;
  letter-spacing: 0.04px;
}
