* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
}

nav a {
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}
